@import "../../variables.css";

.boardContainer {
    margin: 42px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colLabels {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colLabel {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
}

.emptyCorner {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
}

.gridContainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
}

.rowLabel {
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #333;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    background-color: #6cb2f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.cell:hover {
     background-color: #b3d5f3;
}

.message {
    color: #6cb2f0;
    font-weight: 500;
    font-size: 25px;
}

@keyframes wave {
    0% {
        transform: scale(1);
        background-color: #6cb2f0;
    }
    50% {
        transform: scale(1.2);
        background-color: #4ea3d1;
    }
    100% {
        transform: scale(1);
        background-color: #6cb2f0;
    }
}

.waving {
    animation: wave 0.5s ease-in-out forwards;
}

/* miss */
@keyframes distortion {
    0% {
        transform: scale(1);
        background-color: #6cb2f0;
    }
    50% {
        transform: scale(1.1) skew(10deg, 10deg);
        background-color: #ffcccc;
    }
    100% {
        transform: scale(1) skew(0deg, 0deg);
        background-color: #6cb2f0;
    }
}

.distorted {
    animation: distortion 0.5s ease-in-out forwards;
}

/* hit */
@keyframes hit {
    0% {
        transform: scale(1);
        background-color: #6cb2f0;
    }
    50% {
        transform: scale(1.1);
        background-color: #b3ffb3;
    }
    100% {
        transform: scale(1);
        background-color: #6cb2f0;
    }
}

.hitEffect {
    animation: hit 0.5s ease-in-out forwards;
}

/* ship destruction */
@keyframes shipDestroyed {
    0% {
        transform: scale(1);
        background-color: #6cb2f0;
    }
    50% {
        transform: scale(1.2);
        background-color: #b3ffb3;
    }
    100% {
        transform: scale(1);
        background-color: #6cb2f0;
    }
}

.shipDestroyedEffect {
    animation: shipDestroyed 1s ease-in-out forwards;
}

@media screen and (max-width: 830px){
    .colLabel, .emptyCorner, .rowLabel, .cell {
        width: 30px;
        height: 30px
    }
}